Packages/com.unity.cinecast*
Packages/com.unity.cinemachine*
Packages/com.unity.entities*
Packages/com.unity.jobs*
Packages/com.unity.mathematics*
Packages/com.unity.platforms*
Packages/com.unity.stableid*

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Aa]uto[Bb]uild/

.vscode/
.vsconfig
.vs/

*.csproj
*.sln
*.suo
*.tmp
*.userprefs
*.app
.idea/
*.VC.*
.DS_Store
*~
*.swp

*.log
*.pyc